version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: course_db
    environment:
      # Бул жерде .env файлындагы маанилер колдонулат
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      # Сырткы портту да өзгөрмө кылса болот
      - "${DB_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: course_app
    ports:
      - "${APP_PORT}:8080"
    volumes:
      - .:/app
    depends_on:
      - db
    env_file:
      - .env

volumes:
  pgdata:
