{{define "adminUsers"}}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}} | Online Course Platform</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        /* Дополнительный стиль, чтобы footer был внизу */
        body { display: flex; flex-direction: column; min-height: 100vh; }
        main { flex-grow: 1; }
    </style>
    <script>
        function toggleUserMenu() {
            const menu = document.getElementById('user-menu');
            menu.classList.toggle('hidden');
        }
    </script>
</head>
<body>
{{template "adminBarPanel" .}}
<main class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">


    <h1 class="text-3xl font-bold text-gray-900">
        Содержимое страницы
    </h1>
    <p class="mt-4 text-gray-600">
        Здесь будет основное содержимое страницы.
    </p>
</main>


</body>
</html>
{{end}}
